html, body {
  height:100%
}

h1 {
    color: #5F5764;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-default {
    background-color: #1B0732;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

hr {
    border-color: #C0C0C0;
    margin-bottom: 0;
    margin-top: 0;
}
