<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <title>{% block head_title %}OKSP{% endblock head_title %}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'docupload/css/bootstrap.min.css' %}" type = "text/css"/>

        <!-- Style files -->
        <link rel="stylesheet" href="{% static 'docupload/css/base.css' %}" type = "text/css"/>
        <link rel="stylesheet" href="{% static 'docupload/css/editor_choice.css' %}" type = "text/css"/>
        <link rel="stylesheet" href="{% static 'docupload/css/markdown.css' %}" type = "text/css"/>
        <link rel="stylesheet" href="{% static 'docupload/css/wysiwyg.css' %}" type = "text/css"/>
        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script src="https://use.fontawesome.com/99c11e2bee.js"></script>

        {% block csslink %}

        {% endblock csslink %}
        {% block jslink %}
        
        {% endblock jslink %}
        <style>
            {% block style %}
            {% endblock style %}
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="color: white;">Online Knowledge Sharing Platform</a>
            </div>
        </nav>

        <div class="page-header" style="text-align: center;">
            <h1>IIT Bombay Documentation Portal</h1>
        </div>
        {% block bar %}
                
        {% endblock bar %}  
        <div class="container-fluid" style="margin: 0; padding: 0">
            {% block content %}
                    
            {% endblock content %}
        </div>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
