{% extends "docupload/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">    
        <h3 class="doc-page-header">Upload documentation of your project</h3>
        <form method='POST' action="{% url 'docupload:upload' %}" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
            <div class="form-group">
                <label class="control-label col-sm-1">Title</label>
                <div class="col-sm-6 doc-input">
                {{ form.name }} 
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1">File</label>
                <div class="col-sm-6 doc-input" style="padding-top: 7px;">
                {{ form.doc_file }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1"></label>
                <div class="col-sm-6 doc-input">
                    <input type = 'submit' class = 'btn btn-primary' value='Upload' /> 
                </div>
            </div>
        </form>
        <hr/>
        <h3 class="doc-page-header">Documentation of projects</h3>
        <div class="col-sm-12">
            {% if doc_list %}
                {% for doc in doc_list %}
                    <div class="row alert alert-warning">
                        <div class="col-xs-12">
                            <h2><a href="/doc/{{ doc.id }}/" class="doc-header">{{ doc.name }}</a></h2>
                            <p style="font-size: 17px;">Placeholder for description of document.</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3>No docs are available.</h3>
            {% endif %}
        </div>
    </div>
{% endblock content %}
