{% extends "docupload/base.html" %}

{% block style %}
    body {
        background: black;
    }
{% endblock style %}

{% block jslink %}
    <script src="//cdn.ckeditor.com/4.5.8/full/ckeditor.js"></script>   
{% endblock jslink %}


{% block bar %}
    <div class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin: 0; padding: 0">
        <a class="navbar-brand" rel="home" href='#' title="OKSP">OKSP</a>
    </div>
{% endblock bar %}

{% block content %} 
    <div class="jumbotron" style="background: black;">
        <h1 style="text-align: center; color: white;">WSYIWYG Editor</h1>
        <hr/>
        <textarea name="editor1"></textarea>
        <script>
            CKEDITOR.replace( 'editor1' );
            CKEDITOR.config.width = '100%';
            CKEDITOR.config.height = 500;
        </script>     
        <hr/>
    </div>
    
{% endblock content %}