{% extends "docupload/base.html" %}


{% block jslink %}
    <script src="//cdn.ckeditor.com/4.5.8/standard/ckeditor.js"></script>   
{% endblock jslink %}


{% block content %} 
    <div class="jumbotron wysiwyg-content">
        <h1 class="wysiwyg-header" style="font-size:40px;">Text Editor</h1>

        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Title" name="title" value="{{ request.GET.title }}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Description" name="description" value="{{ request.GET.description }}">
            </div>
            <div class="form-group">
                <input id="id_tags" class="form-control" name="tags" type="text" placeholder="Enter tags here, separated by spaces">
            </div>

            <textarea id="sourceTA" rows="25" class="well" placeholder="Start writing here" name="text" value="{{ request.GET.text }}"></textarea>
            <hr/>
            <button class="btn btn-primary wysiwyg-button" type="submit">Save</button>
        </form>
        <script>
            CKEDITOR.replace( 'text' );
            CKEDITOR.config.width = '100%';
            CKEDITOR.config.height = 500;
        </script>     

    </div>
    
{% endblock content %}
