{% extends "hacker-news/header.html" %}
{% load staticfiles %}
{% block content %}
    <div class="col-sm-12">
        <div class="thumbnail">
            <div class="caption">
                <div class="container">
                    <h3>
                        <a href="{{ news.link }}">{{ news.title }}</a>
                        <p class="pull-right">{{ news.upvotes }}</p>
                        <div class="pull-right" style="display: inline-block; padding-right: 0.5em;">
                            <div style="margin-bottom: 0.2em;">
                                <a href='{% url "hacker-news:upvote" news.id %}'>
                                    <img src="{% static 'hacker-news/img/upvote.png' %}"/>
                                </a>
                            </div>

                            <div style="margin-top: 0.2em;">
                                <a href='{% url "hacker-news:downvote" news.id %}'>
                                    <img src="{% static 'hacker-news/img/downvote.png' %}"/>
                                </a>
                            </div>
                        </div>
                    </h3>
                    <div>
                        {{ news.description }}    
                    </div> 
                    <hr/>
                    <div class="well">
                        <h3 style="text-align: center;">Comments</h3>
                        {% for comment in comments %}
                            <div class="well" style="background: #A9A9A9;">
                                <h4>{{ comment.text }}</h4>
                                <hr/>
                                <h3>Replies</h3>
                                {% for reply_comment in reply_comments %}
                                    {% if reply_comment.comment_link == comment %}
                                        <div class="well" style="margin-top: 0; margin-bottom: 0;">
                                            {{ reply_comment.text }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <hr/>
                                <form method='POST' action="" enctype="multipart/form-data" role="form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ reply.text }} 
                                    </div>
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                    <button type = 'submit' class = 'btn btn-danger' name="recursive_comment">Reply</button>
                                </form>  
                            </div>
                        {% endfor %}  
                        <form method='POST' action="" enctype="multipart/form-data" role="form">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.text }} 
                            </div>
                            <button type = 'submit' class = 'btn btn-success' name="Comment">Comment</button>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock content %}