{% extends "hacker-news/header.html" %}
{% load staticfiles %}
{% block content %}
<div>
    <div class="top-links">
        <h2 class="news-categories">POPULAR LINKS</h2>
        <hr/>
    </div>
    {% for obj in news %}
        <div class="col-sm-12">
            <div class="thumbnail">
                <div class="caption">
                    <div class="container">
                        <h3>
                            <a href="{{ obj.link }}">{{ obj.title }}</a>
                            {% for tag in obj.tags %}
                             <p>  {{ tag.value }} </p>
                                {% endfor %}
                            <p class="pull-right">{{ obj.votes }} </p>
                            {% if request.user.is_anonymous %}
                    <div class="pull-right" style="display: inline-block; padding-right: 0.5em;">
                        <div style="margin-bottom: 0.2em;">
                            <a href='{% url "hacker-news:upvote" obj.id %}'>
                                <img src="{% static 'hacker-news/img/upvote.png' %}"/>
                            </a>
                        </div>

                        <div style="margin-top: 0.2em;">
                            <a href='{% url "hacker-news:downvote" obj.id %}'>
                                <img src="{% static 'hacker-news/img/downvote.png' %}"/>
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <!-- TODO: If user has downvoted make the image downvote-blue.png appear in place of downvote.png-->
                    <div class="pull-right" style="display: inline-block; padding-right: 0.5em;">
                        <div style="margin-bottom: 0.2em;">
                            <a href='{% url "hacker-news:upvote" obj.id %}'>
                                <img src="{% static 'hacker-news/img/upvote.png' %}"/>
                            </a>
                        </div>

                        <div style="margin-top: 0.2em;">
                            <a href='{% url "hacker-news:downvote" obj.id %}'>
                                <img src="{% static 'hacker-news/img/downvote.png' %}"/>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                        </h3>
                        <p class="description">{{ obj.description }}</p>
                        <a class="btn btn-info" href="{% url 'hacker-news:news_detail' obj.id %}" role="button"> Discuss</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div>
    <div class="latest-links top-links">
        <h2 class="news-categories">RECENT LINKS</h2>
        <hr/>
    </div>
    {% for obj in news %}
        <div class="news-object">
            <div class="col-sm-4">
                <h3>
                    <a href="{{ obj.link }}" class="news-title">{{ obj.title }}</a>
                    <p class="pull-right">{{ obj.votes }} </p>
                    {% if request.user.is_anonymous %}
                    <div class="pull-right" style="display: inline-block; padding-right: 0.5em;">
                        <div style="margin-bottom: 0.2em;">
                            <a href='{% url "hacker-news:upvote" obj.id %}'>
                                <img src="{% static 'hacker-news/img/upvote.png' %}"/>
                            </a>
                        </div>

                        <div style="margin-top: 0.2em;">
                            <a href='{% url "hacker-news:downvote" obj.id %}'>
                                <img src="{% static 'hacker-news/img/downvote.png' %}"/>
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="pull-right" style="display: inline-block; padding-right: 0.5em;">
                        <div style="margin-bottom: 0.2em;">
                            <a href='{% url "hacker-news:upvote" obj.id %}'>
                                <img src="{% static 'hacker-news/img/upvote.png' %}"/>
                            </a>
                        </div>

                        <div style="margin-top: 0.2em;">
                            <a href='{% url "hacker-news:downvote" obj.id %}'>
                                <img src="{% static 'hacker-news/img/downvote.png' %}"/>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </h3>
                <p class="description">{{ obj.description }}</p>
                <a class="btn btn-info" href="{% url 'hacker-news:news_detail' obj.id %}" role="button">Discuss</a>
            </div>
        </div>
    {% endfor %}
</div>
{%  endblock content %}
