html, body {
  height:100%
}

hr {
    border-color: #C0C0C0;
}

h1 {
    color: #5F5764;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-default {
    background-color: #1B0732;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.doc-page-header {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    padding-bottom: 15px;
}

label {
    font-family: 'Open Sans', sans-serif;
}

.doc-input {
    padding-top: 3px;
}

.doc-header {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    color: #6F2EB9;
    text-decoration: none;
}

.doc-header:hover {
    color: #000000;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
}
